# Ignorar archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Ignorar entornos virtuales
venv/
env/
ENV/
.venv/

# Ignorar archivos de configuración de IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ignorar logs y bases de datos
*.log
*.sqlite
logs/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
